version: "3.7"
volumes:
  rgb1_data:
  rgb2_data:
  store1_data:
  store2_data:

services:
  rgb1:
    container_name: rgb1
    image: sr/rgb:latest
    build:
      context: ./rgb-node/
    restart: unless-stopped
    command:
      [
        "-vvvv",
        "--network=regtest",
        "--data-dir=${RGB_DATA_DIR}",
        "--electrum-server=${ELECTRS_HOST}",
        "--electrum-port=${ELECTRS_PORT}",
        "--store=${STORE_HOST_1}:${STORE_RPC_PORT}",
        "--storm=${STORM_HOST_1}:${STORM_RPC_PORT}",
        "--threaded",
      ]
    depends_on:
      - electrs
      - store1
    volumes:
      - rgb1_data:/var/lib/rgb
    ports:
      - ${RGB_RPC_PORT}:${RGB_RPC_PORT}
    networks:
      sr_network:
        ipv4_address: 172.20.0.14
        aliases:
          - ${RGB_HOST_1}

  rgb2:
    container_name: rgb2
    image: sr/rgb:latest
    build:
      context: ./rgb-node/
    restart: unless-stopped
    command:
      [
        "-vvvv",
        "--network=regtest",
        "--data-dir=${RGB_DATA_DIR}",
        "--electrum-server=${ELECTRS_HOST}",
        "--electrum-port=${ELECTRS_PORT}",
        "--store=${STORE_HOST_2}:${STORE_RPC_PORT}",
        "--storm=${STORM_HOST_1}:${STORM_RPC_PORT}",
      ]
    depends_on:
      - electrs
      - store2
    volumes:
      - rgb2_data:/var/lib/rgb
    networks:
      sr_network:
        ipv4_address: 172.20.0.16
        aliases:
          - ${RGB_HOST_1}

  store1:
    container_name: store1
    image: sr/store:latest
    build:
      context: ./stored-node/
    restart: unless-stopped
    volumes:
      - store1_data:/var/lib/store
    ports:
      - ${STORE_RPC_PORT}:${STORE_RPC_PORT}      
    networks:
      sr_network:
        ipv4_address: 172.20.0.18

  store2:
    container_name: store2
    image: sr/store:latest
    build:
      context: ./stored-node/
    restart: unless-stopped
    volumes:
      - store2_data:/var/lib/store
    networks:
      sr_network:
        ipv4_address: 172.20.0.24
